body{
  background-color: #0f0500;
}
.ToDo-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1{
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex-direction: row;
  text-align: center;
  font-size: 2.8rem;
  justify-content: center;
  font-weight: bold;
  border: 1px dashed rgba(255, 255, 255, 0.836);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  padding: 10px;
}

input{
  background-color: rgba(255, 255, 255, 0.836);
  font-size: 1.3rem;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 5px;
}

li{ 
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.836); 
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid gray;;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10 px 20px;
  color: white;
  background-color: #0f0500;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.trash-bin{
  display:flex;
  margin-top: 30px;
  background-color: gray;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px dashed gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.button-list{
  display: flex; 
  flex-direction: row-reverse;
  justify-content: right;
  align-items:end;
  margin-left: auto;
  padding-left: 10px;
}

.pinned{
  background-color: rgb(235, 235, 79);
}

.changeDate{
  background-color: rgba(255, 255, 255, 0.836);
  color: #0f0500;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.day-set{
  display: flex;
  flex-direction: row;
  width:1200px;
  height:600px;
  gap:10px;
  background-color: #1d0e06;
}

.curr-day{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border:2px solid #0c0400;
}

.previous-day{
  display: flex;
  margin-right: auto;
  align-items: left;
  width: 400px;
}

.next-day{
  display: flex;
  align-items: right;
  margin-left: auto;
  width: 400px;
}

.searchBar{
  display: flex;
  flex-direction: row;
  gap:150px;
}

.other-day{
  background-color: #1d0e06;;
  color:white;
  font-size: 1.8rem;
  padding: 10px;
  margin-bottom: 0px;
  width: 100px;
  text-align: center;
}